/* top right bottom left */
html {
  height: 100%;
  margin: 0;
  color: #fff;
  overflow: hidden;
}
body {
  height: 100%;
  margin: 0;
  color: #000;
  /* */
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}
header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}
header h1 {
  margin-top: -100px;
}
header, header:before {
  background: 50% 50% / cover;
}
header::before{
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url("C:/Users/Jaewoo/Documents/GitHub/char_wiki/images/original.jpg");
  opacity: 0.8;
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
header {
  font-weight: normal;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000;
}
h1 {
  font-size: 7vh;
}
p {
  font-size: 3vh;
}
.profile {
  margin-top: 10vh;
  line-height: 2;
  text-align: center;
  padding: 1vh 1vw 1vh 1vw;
  font-family: "Cabin";
  font-size: 2vh;
}
/*
.caption {
  position: absolute;
  top: 50%;
  width: 100%;
}
.profile {
  padding: 1vh 1vw 1vh 1vw;
  font-family: "Lato";
  font-size: 3vh;
  color: ;
}
*/